#hora {
position: relative;
margin-top: 12px;
margin-left: 20px;

font-family: 'Source Code Pro', monospace;
font-size: 20px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: -0.02em;
color:black;
 
}

.conection1 {
    position: relative;
    height: 4px;
    background: black;
    width: 3px;
    left: 78.31%;
}
.conection2 {
    position: relative;
    height: 6px;
    left: 79.60%;
    width: 3px;
    background: black;
    margin-top: -6px;
}

.conection3 {
    position: relative;
    height: 10px;
    margin-left: 304px;
    width: 3px;
    background-color: black;
    margin-top: -10px;
}

.conection4 {
    position: relative;
    height: 13px;
    margin-left: 309px;
    width: 3px;
    background-color: black;
    margin-top: -13px;

}

.circulo {
    position: relative;
    height: 3.90px;
    width: 4.65px;
    background-color: black;
    border-radius:50%;
    margin-top: -3px;
    margin-left: 326.10px;    
}

.wifi {
    height: 9.80px;
    width: 9.80px;
    border: 5px solid transparent;
    border-top: 4.80px solid black;
    border-radius: 50%;
    margin-left: 319px;
    margin-top: -10px;

}

.wifi::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 23px;
    border: 5px solid transparent;
    border-top: 4.80px solid black;
    border-radius: 50%;
    margin-left: -11px;
    margin-top: -11px;

}

.retangulo {
    width: 18px;
    height: 8px;
    margin-top: -20px;
    margin-left: 347px;
    border-radius: 2px;
    background-color: black;
}

.borda {
    width: 20px;
    height: 10px;
    margin-top: -10px;
    margin-left: 345px;
    border: 1px solid;
    border-radius: 2px;
    opacity: 35%;
    color: #000000; 
}

.ponta {
    width: 4px;
    height: 4px;
    background: #000000;;
    margin-top: -8px;
    margin-left: 366px;
    border-radius: 30%;
    opacity: 35%;
}
